/*! CSS Used from: Embedded */

a {
  text-decoration: none;
  color: #2962ff;
}

img {
  border: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.XVzU0b {
  display: inline-block;
  height: 24px;
  pointer-events: none;
  width: 24px;
}

.XVzU0b path {
  fill: #212121;
}

.DPvwYc {
  font-family: 'Material Icons Extended';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-rendering: optimizeLegibility;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga' 1;
  -webkit-font-smoothing: antialiased;
}

.mUbCce {
  -webkit-user-select: none;
  -webkit-transition: background .3s;
  transition: background .3s;
  border: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  height: 48px;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  width: 48px;
  z-index: 0;
}

.fKz7Od {
  color: rgba(0, 0, 0, 0.54);
  fill: rgba(0, 0, 0, 0.54);
}

.VTBa7b {
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-transition: opacity .2s ease, visibility 0s ease .2s, transform 0s ease .2s;
  transition: opacity .2s ease, visibility 0s ease .2s, transform 0s ease .2s;
  -webkit-transition: opacity .2s ease, visibility 0s ease .2s, -webkit-transform 0s ease .2s;
  transition: opacity .2s ease, visibility 0s ease .2s, -webkit-transform 0s ease .2s;
  -webkit-background-size: cover;
  background-size: cover;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  visibility: hidden;
}

.fKz7Od .VTBa7b {
  background-image: radial-gradient(circle farthest-side, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12) 80%, rgba(0, 0, 0, 0) 100%);
}

.xjKiLb {
  position: relative;
  top: 50%;
}

.xjKiLb>span {
  display: inline-block;
  position: relative;
}

.pf7Psf {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.x2sGwe {
  width: 100%;
  height: 100%;
}

.tb3unb {
  background-color: rgba(66, 133, 244, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.xn2mde {
  pointer-events: none;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.Xy5NZc {
  width: 150px;
  height: 150px;
  margin: 0 auto 24px;
  display: block;
}

.mlwXqe {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 16px;
  text-align: center;
}

.uVccjd {
  -webkit-user-select: none;
  -webkit-transition: border-color .2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color .2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-tap-highlight-color: transparent;
  border: 10px solid rgba(0, 0, 0, 0.54);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  display: inline-block;
  max-height: 0;
  max-width: 0;
  outline: none;
  overflow: visible;
  position: relative;
  vertical-align: middle;
  z-index: 0;
}

.uHMk6b {
  -webkit-transition: all .1s .15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all .1s .15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: transform, border-radius;
  transition-property: transform, border-radius;
  border: 8px solid white;
  left: -8px;
  position: absolute;
  top: -8px;
}

.TCA6qd {
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.rq8Mwb {
  -webkit-animation: quantumWizPaperAnimateCheckMarkOut .2s forwards;
  animation: quantumWizPaperAnimateCheckMarkOut .2s forwards;
  clip: rect(0, 20px, 20px, 0);
  height: 20px;
  left: -10px;
  position: absolute;
  top: -10px;
  width: 20px;
}

.MbUTNc {
  border: 1px solid #fff;
  height: 5px;
  left: 0;
  position: absolute;
}

.Ii6cVc {
  border: 1px solid #fff;
  left: 0;
  position: absolute;
  top: 5px;
}

.PkgjBf {
  -webkit-transform: scale(2.5);
  transform: scale(2.5);
  -webkit-transition: opacity .15s ease;
  transition: opacity .15s ease;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 100%;
  border-radius: 100%;
  height: 20px;
  left: -10px;
  opacity: 0;
  outline: .1px solid transparent;
  pointer-events: none;
  position: absolute;
  top: -10px;
  width: 20px;
  z-index: -1;
}

.mvhxEe {
  background-color: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: block;
  position: relative;
  /*overflow: hidden;*/
  text-align: start;
}

.wRd1We {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  z-index: 1;
}

.b4FgKc {
  margin: 16px 8px;
}

.JzCzjd {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.oHo9me {
  display: block;
  margin: 0 8px;
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.M8ZOee {
  line-height: 36px;
  color: #777;
  font-size: 12px;
  margin-right: 6px;
}

.M8ZOee:last-child {
  margin-right: 0;
}

.tpVlOc {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.jfZVid {
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
}

.dVAtqc {
  line-height: 18px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: auto;
  -webkit-flex: auto;
  flex: auto;
}

.q6HYG {
  font-weight: 500;
  margin-right: 16px;
  padding: 0 0 0 2px;
  white-space: nowrap;
  -webkit-box-flex: auto;
  -webkit-flex: auto;
  flex: auto;
  width: 120px;
}

.mmkmJ {
  margin-left: 6px;
  max-width: 100%;
  white-space: nowrap;
  float: left;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sXku1c {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  -webkit-box-flex: auto;
  -webkit-flex: auto;
  flex: auto;
}

.dNF4Ud {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  line-height: 18px;
  max-width: 100%;
  white-space: nowrap;
  word-break: break-all;
  float: left;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dNF4Ud a {
  color: inherit;
}

.pSkmb {
  color: #0f9d58;
}

.tpVlOc .lrZTuc {
  margin-top: -7px;
}

.tpVlOc.iCPjVb .lrZTuc {
  margin-top: -17px;
  width: 32px;
}

.tpVlOc .SnosMe {
  color: #757575;
}

.tpVlOc .lrZTuc .MbhUzd {
  display: none;
}

.tFHtob.XVzU0b {
  width: 18px;
  height: 18px;
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
}

.tFHtob.XVzU0b path {
  fill: #9e9e9e;
}

.pSkmb .tFHtob path {
  fill: #0f9d58;
}

.eYSPjc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  -webkit-box-flex: auto;
  -webkit-flex: auto;
  flex: auto;
}

.HiU1rc {
  color: #ff0000;
  font-weight: bold;
  display: none;
}

.GmZGge {
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
}

.tpVlOc.iCPjVb .GmZGge {
  position: relative;
}

.tpVlOc.iCPjVb .BIDenb {
  width: 52px;
  margin-left: 10px;
}

.eZ8gzf {
  width: 18px;
  height: 18px;
  margin-right: 26px;
  display: block;
  z-index: -1;
  outline: none;
}

.eZ8gzf:focus .rRPL7d {
  outline: auto;
}

.rRPL7d {
  margin-top: 1px;
  color: #fff;
  font-size: 18px;
}

.tpVlOc.iCPjVb .SnosMe {
  color: #fff;
  font-size: 18px;
}

.tpVlOc.iCPjVb .n8JNod {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 0;
  right: 2px;
  z-index: -1;
}

.tpVlOc .n8JNod:hover {
  cursor: pointer;
}

.o8gkze {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 400;
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
  display: block;
}

.tpVlOc.iCPjVb .o8gkze {
  color: #9e9e9e;
  max-width: 100%;
  text-align: right;
  word-wrap: break-word;
}

.tpVlOc.hE2QI.iCPjVb .o8gkze {
  position: absolute;
  top: 0;
  right: 0;
}

.UohHvc {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.g5imIb path {
  fill: currentColor;
}

.SVDMFb {
  color: #999;
  font-size: 14px;
}

.SVDMFb:after {
  clear: both;
  display: block;
  content: '';
}

.SVDMFb .tgi2ee {
  padding: 12px 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.SVDMFb .gn1yRe {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.SVDMFb .n5wdGe {
  width: 75px;
  height: 75px;
  margin: 0 8px 0 16px;
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
}

.SVDMFb .D5zEId {
  font-size: 18px;
  text-align: initial;
}

.JPtOFc {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.WWCMIb {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
}

.QBU0S {
  outline: none;
  margin-left: 16px;
  min-width: 0;
  -webkit-box-flex: auto;
  -webkit-flex: auto;
  flex: auto;
}

.L0Slxe {
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
}

.RIrM6d {
  border-top: 1px solid #ebebeb;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.AarIR {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fFUsIf {
  max-height: 400px;
  overflow-y: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.fFUsIf::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}

.fFUsIf::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.fFUsIf::-webkit-scrollbar-corner {
  background: transparent;
}

.fFUsIf::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

.QeQGL {
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}

.VrClg {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-size: 13px;
  width: 100%;
}

.VrClg .vD3nIe {
  height: 24px;
  margin-top: 6px;
  width: 24px;
}

.xAPqUc {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  margin-bottom: 12px;
  margin-top: 12px;
}

.xAPqUc .Ce1Y1c {
  fill: #000;
}

.cjGgHb .cDhoub:hover .eZ8gzf,
.cjGgHb .cDhoub:hover .n8JNod {
  z-index: auto;
}

.cjGgHb .cDhoub:hover .rRPL7d,
.cjGgHb .cDhoub:hover .SnosMe {
  color: #757575;
}

.cjGgHb .cDhoub.hE2QI:hover .o8gkze {
  color: #fff;
  z-index: -1;
}

.i8Zvz {
  font-size: 14px;
  line-height: 20px;
  margin: 0 16px 16px;
  word-wrap: break-word;
}

.i8Zvz:empty {
  margin: 0;
}

.OisWG {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.mEgM8 {
  margin: 16px 16px;
  -webkit-box-flex: auto;
  -webkit-flex: auto;
  flex: auto;
}

.jVjeQd {
  white-space: pre-wrap;
  overflow: hidden; /*NEW*/
  max-height: 200px; /*NEW*/
}

.R6Ozpf {
  position: relative;
}

.R6Ozpf.qhIQqf {
  line-height: 20px;
  overflow: hidden;
  max-height: 180px
}

.R6Ozpf.qhIQqf:before {
  content: "";
  float: left;
  width: 5px;
  height: 100%
}

.R6Ozpf.qhIQqf>.jVjeQd {
  float: right;
  width: 100%;
  margin-left: -5px
}

.R6Ozpf.qhIQqf:after {
  content: "\002026";
  font-size: 34px;
  font-weight: 500;
  color: #4285f4;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  float: right;
  position: relative;
  top: 160px;
  left: 100%;
  height: 20px;
  line-height: 4px;
  width: 2em;
  margin-left: -2em;
  padding-right: 5px;
  text-align: right;
  background: linear-gradient(to right,rgba(255,255,255,0),white 50%,white);
  cursor: pointer
}

.JRtysb {
  -webkit-user-select: none;
  -webkit-transition: background .3s;
  transition: background .3s;
  border: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #444;
  cursor: pointer;
  display: inline-block;
  fill: #444;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  height: 48px;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  width: 48px;
  z-index: 0;
}

.NWlf3e {
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  -webkit-background-size: cover;
  background-size: cover;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  visibility: hidden;
}

.MhXXcc {
  line-height: 44px;
  position: relative;
}

.Lw7GHd {
  margin: 8px;
  display: inline-block;
}

.h7vvy {
  display: block;
  outline: none;
}

.MqU2J {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
}

.GsLz7c {
  background: #eeeeee;
  display: block;
  height: 36px;
  width: 36px;
}

.cjGgHb .GsLz7c:hover {
  background: #f5f5f5;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
}



.cUjEhd {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.G7pzvd path {
  fill: #757575;
}

.teCjMb.y7OZL {
  background-color: #db4437;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26)
}

.teCjMb.y7OZL.u3bW4e,.cjGgHb .teCjMb.y7OZL:hover {
  background-color: #c53929;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.54);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.54)
}

.teCjMb.y7OZL path,.teCjMb.y7OZL.u3bW4e path,.cjGgHb .teCjMb.y7OZL:hover path {
  fill: #fff
}

.iRxCkb {
  height: auto;
  width: auto;
}

.LmajHd {
  width: 36px;
  height: 36px;
}

.Sce4ed {
  display: none;
}


/*! CSS Used keyframes */

@keyframes quantumWizPaperAnimateCheckMarkOut {
  0% {
    clip: rect(0, 20px, 20px, 0);
}
  to {
    clip: rect(0, 20px, 20px, 20px);
  }
}

@-webkit-keyframes quantumWizPaperAnimateCheckMarkOut {
  0% {
    clip: rect(0, 20px, 20px, 0);
}
  to {
    clip: rect(0, 20px, 20px, 20px);
  }
}


/*! CSS Used fontfaces */

@font-face {
  font-family: 'Material Icons Extended';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/materialiconsextended/v42/kJEjBvgX7BgnkSrUwT8UnLVc38YydejYY-oE_LvJ.woff2)format('woff2');
}

/* Number of comments */
.GA5Ak {
  margin: 12px 8px -12px
}

.U26fgb.u3bW4e {
  outline: 1px solid transparent
}

.O0WRkf {
  -webkit-user-select: none;
  -webkit-transition: background .2s .1s;
  transition: background .2s .1s;
  border: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  min-width: 4em;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  z-index: 0
}

.O0WRkf.u3bW4e .ZFr60d {
  background-color: rgba(0,0,0,0.12)
}

.O0WRkf.qs41qe .Vwe4Vb {
  -webkit-transform: translate(-50%,-50%) scale(2.2);
  transform: translate(-50%,-50%) scale(2.2);
  opacity: 1;
  visibility: visible
}

.O0WRkf.qs41qe.M9Bg4d .Vwe4Vb {
  -webkit-transition: -webkit-transform .3s cubic-bezier(0.0,0.0,0.2,1),opacity .2s cubic-bezier(0.0,0.0,0.2,1);
  transition: -webkit-transform .3s cubic-bezier(0.0,0.0,0.2,1),opacity .2s cubic-bezier(0.0,0.0,0.2,1);
  -webkit-transition: transform .3s cubic-bezier(0.0,0.0,0.2,1),opacity .2s cubic-bezier(0.0,0.0,0.2,1);
  transition: transform .3s cubic-bezier(0.0,0.0,0.2,1),opacity .2s cubic-bezier(0.0,0.0,0.2,1)
}

.O0WRkf.j7nIZb .Vwe4Vb {
  -webkit-transform: translate(-50%,-50%) scale(2.2);
  transform: translate(-50%,-50%) scale(2.2);
  visibility: visible
}

.O0WRkf.RDPZE {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(68,68,68,0.502);
  cursor: default;
  fill: rgba(68,68,68,0.502)
}

.kHssdc.O0WRkf.C0oVfc,.XfpsVe .O0WRkf.C0oVfc {
  min-width: 64px
}

.oG5Srb .Vwe4Vb,.zZhnYe .Vwe4Vb {
  background-image: radial-gradient(circle farthest-side,rgba(0,0,0,0.12),rgba(0,0,0,0.12) 80%,rgba(0,0,0,0) 100%)
}

.C0oVfc {
  line-height: 20px;
  min-width: 88px
}

.C0oVfc .RveJvd {
  margin: 8px
}

.kHssdc.O0WRkf.C0oVfc,.XfpsVe .O0WRkf.C0oVfc {
  min-width: 64px
}

.xT6uNc .ZFr60d,.xT6uNc .C0oVfc,.L0uubb .ZFr60d,.L0uubb .C0oVfc {
  min-width: 0
}

.HKdIKd {
  color: #2962ff;
  font-size: 12px;
  font-weight: normal
}

.mUbCce.qs41qe.M9Bg4d .VTBa7b {
  -webkit-transition: -webkit-transform .3s cubic-bezier(0.0,0.0,0.2,1),opacity .2s cubic-bezier(0.0,0.0,0.2,1);
  transition: -webkit-transform .3s cubic-bezier(0.0,0.0,0.2,1),opacity .2s cubic-bezier(0.0,0.0,0.2,1);
  -webkit-transition: transform .3s cubic-bezier(0.0,0.0,0.2,1),opacity .2s cubic-bezier(0.0,0.0,0.2,1);
  transition: transform .3s cubic-bezier(0.0,0.0,0.2,1),opacity .2s cubic-bezier(0.0,0.0,0.2,1)
}

.XHsn7e.qs41qe.M9Bg4d>.HRp7vf {
  -webkit-transition: -webkit-transform .3s cubic-bezier(0.0,0.0,0.2,1),opacity .2s cubic-bezier(0.0,0.0,0.2,1);
  transition: -webkit-transform .3s cubic-bezier(0.0,0.0,0.2,1),opacity .2s cubic-bezier(0.0,0.0,0.2,1);
  -webkit-transition: transform .3s cubic-bezier(0.0,0.0,0.2,1),opacity .2s cubic-bezier(0.0,0.0,0.2,1);
  transition: transform .3s cubic-bezier(0.0,0.0,0.2,1),opacity .2s cubic-bezier(0.0,0.0,0.2,1)
}

.CwaK9 {
  position: relative
}

.RveJvd {
  display: inline-block;
  margin: .5em
}

.nRKLp.dm7YTc .snByac {
  color: rgba(255,255,255,0.38)
}

.LGhJhe .zHQkBf,.LGhJhe .snByac {
  padding-left: 16px;
  width: 100%
}


/* Comments preview */

.CKe11d {
  border-top: 1px solid #ebebeb;
  height: 100%;
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in
}

.CKe11d,.cDhoub:not(.iFJd6c) .QeQGL {
  background-color: #fafafa
}

.EMg45:not(:empty) {
  padding-bottom: 8px
}

.X865Z {
    line-height: 18px;
    margin: 16px 16px 0;
    overflow: hidden;
    word-break: break-word;
    font-size: 13px
}

.X865Z .vGowKb {
    font-size: 13px
}

.SVRkP {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    max-height: 36px
}

.vGowKb {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,0.87);
    text-overflow: ellipsis;
    overflow: hidden
}

.Wj5EM {
    color: rgba(0,0,0,0.87)
}

/* Comments full list */

.RIrM6d {
  border-top: 1px solid #ebebeb;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none
}

.AarIR {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.fFUsIf {
  max-height: 400px;
  overflow-y: auto;
  position: relative;
  -webkit-overflow-scrolling: touch
}

.fFUsIf::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px
}

.fFUsIf::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1),inset 0 -1px 0 rgba(0,0,0,0.07);
  box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1),inset 0 -1px 0 rgba(0,0,0,0.07)
}

.fFUsIf::-webkit-scrollbar-corner {
  background: transparent
}

.fFUsIf::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px
}

.BCNiN {
  overflow: hidden;
  padding: 12px 16px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color .3s cubic-bezier(0,0,0.2,1);
  transition: background-color .3s cubic-bezier(0,0,0.2,1)
}

.BCNiN:focus {
  outline: none
}

.BCNiN:hover .Ahjhqf.MtqTje .gmFStc,.BCNiN.u3bW4e .Ahjhqf.MtqTje .gmFStc {
  opacity: 0
}

.h7vvy {
  display: block;
  outline: none
}

.oFkD6c {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none
}

.MqU2J {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block
}

.PGAhe {
  word-break: break-word;
  margin: 0 10px 0 16px;
  min-width: 0;
  -webkit-box-flex: auto;
  -webkit-flex: auto;
  flex: auto
}

.PGAhe.oa28d .kCYXq,.PGAhe.oa28d .g6UaYd {
  opacity: .38
}

.kCYXq {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-align: baseline;
  box-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline
}

.vGowKb {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0,0,0,0.87);
  text-overflow: ellipsis;
  overflow: hidden
}

.iOAN1d {
  font-size: 12px;
  color: rgba(0,0,0,0.54);
  font-weight: 500;
  margin-left: 8px;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  flex-shrink: 0
}

.g6UaYd {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0,0,0,0.87);
}

.g6UaYd[dir=rtl] {
  text-align: right
}

.Ahjhqf {
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
  position: relative;
  width: 32px
}

.gmFStc {
  font-size: 12px;
  position: absolute;
  color: rgba(0,0,0,0.54);
  word-wrap: break-word;
  opacity: 1;
  width: 100%;
  text-align: center;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out
}

/* Images */

.e8zLFb {
  position: relative
}

.e8zLFb:not(.gAhgE):hover {
  cursor: pointer
}

.uvi9me {
  position: relative;
  margin: auto
}

.e8zLFb.GSnotf .uvi9me {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  margin: 0
}

.E68jgf {
  position: relative;
  height: 0;
  width: 100%;
  overflow: hidden
}

.JZUAbb {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  margin: auto
}

/* Shared articles */
.PULuYe {
  border-top: 1px solid #ebebeb;
  margin: 0 16px
}

.f8kJQb {
  border: none;
  display: block;
  margin: 16px 16px 0 16px;
  overflow: hidden
}

.f8kJQb.NHphBb {
  margin: 0
}

.Tuxepf {
  color: rgba(0,0,0,0.87);
  font-size: 20px;
  font-weight: 300;
  margin: 16px;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  max-height: 56px
}

.rr9Dof {
  position: relative
}

.g0644c {
  position: absolute;
  height: 12px;
  line-height: 12px;
  max-width: 90%;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  background-color: rgba(0,0,0,0.54);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 6px;
  margin: 16px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}
